*{ font-family: 'Poppins', sans-serif; }
/* Pengaturan logo beasaku di navbar */
.container-fluid img{ width: 150px; height: auto; }
/* ini buat button default*/
.seemore{
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
.btn-profil {
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 8px 10px; 
    border-radius: 8px; 
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
.nav-link {
    color: #000 !important; /* warna hitam untuk link biasa */
    font-weight: 500;
}
.nav-link.active {
    color: #ff8c6b !important; /* warna oranye */
    font-weight: bold;
    border-bottom: 2px solid #ff8c6b;
}
.navbar-nav { gap: 20px; /* jarak antar menu */ }
  