*{ font-family: 'Poppins', sans-serif; }

.container-fluid img{ width: 150px; height: auto; }

.seemore{
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
}

.seemore:hover{
    background-color: #c95e37;
    color: white;
}

.moresee{
    background-color: white ; 
    color: #F27141; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.btn-profil {
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 8px 10px; 
    border-radius: 8px; 
    cursor: pointer;
    font-weight: bold;
}

.nav-link {
    color: #000; /* warna hitam untuk link biasa */
    font-weight: 500;
}
.nav-link.active {
    color: #F27141 !important; /* warna oranye */
    font-weight: bold;
    border-bottom: 2px solid #F27141;
}
.navbar-nav { gap: 20px; /* jarak antar menu */ }
  