*{ font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }

.container-fluid img { width: 150px; height: auto; }

.btn-seemore{
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
}

.btn-seemore a{
    text-decoration: none;
    color: white;
}

.btn-seemore:hover{
    background-color: #c95e37;
    color: white;
}

.btn-moresee{
    background-color: white ; 
    color: #F27141; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
}

.btn-moresee a{
    text-decoration: none;
    color: #F27141;
}

.btn-moresee:hover{
    background-color: whitesmoke;
}

.btn-profil{
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 8px 10px; 
    border-radius: 15px; 
    cursor: pointer;
    font-weight: bold;
}

.btn-profil a{
    color: white;
    text-decoration: none;
    font-weight: inherit; 
    text-shadow: inherit;
}

.btn-profil:hover{
    background-color: #c95e37;
    color: white;
}

.nav-link{
    color: #000;
    font-weight: 500;
}

.nav-link.active{
    color: #F27141 !important;
    font-weight: bold;
    border-bottom: 2px solid #F27141;
}

.navbar-nav { gap: 20px; }