body {
    background: linear-gradient(to bottom, #FFCFB5, white);
    color: white;           
    min-height: 100vh;
    display: block;       
    padding: 20px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 750px; 
    width: 100%;
    background-color: #FFF3EB;
    padding: 50px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-fluid img{ 
    width: 150px;
    height: auto; 
}

.nav-link {
    color: #000 ;
    font-weight: 500;
}

.nav-link.active {
    color: #F27141;
    font-weight: bold;
    border-bottom: 2px solid #F27141;
}

.navbar-nav { 
    gap: 20px;
}

.btn-profil {
    background-color: #F27141; 
    color: white; 
    border: none; 
    padding: 8px 10px; 
    border-radius: 15px; 
    cursor: pointer;
    font-weight: bold;
}

.btn-profil a {
    color: white;
    text-decoration: none;
    font-weight: inherit; 
    text-shadow: inherit;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 30px;
}

.title {
    font-size: 2.5em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    color: #F27141;
    margin: 0;
}

.sub-title {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: normal;
    color: grey;
    margin-top: 5px;
    display: block;
}

.btn-logout {
    background-color: #F27141;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
}

.btn-logout:hover {
    background-color: #BF7052;
}

.form-label {
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444;
    margin-bottom: 5px;
}

.form-control {
    border-radius: 8px;
    padding: 12px 15px;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #F27141;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 34, 0.25);
}

.btn-save {
    background-color: #F27141;
    padding: 12px 0;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.btn-save:hover {
    background-color: #BF7052;
}

.btn-cancel {
    background-color: #ddd; 
    padding: 12px 0;
    border-radius: 10px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cancel:hover {
    background-color: #ccc;
    color: #333;
}